.loremIpsumDolor {
  position: absolute;
  top: calc(50% - 76px);
  left: 40px;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  width: 300px;
  backdrop-filter: blur(20px);
}
.reIcon {
  position: absolute;
  width: calc(100% - 60px);
  top: calc(50% - 25px);
  right: 60px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.text {
  position: absolute;
  top: 2px;
  left: 56px;
  letter-spacing: -0.08em;
}
.reParent {
  width: 116px;
  position: relative;
  height: 50px;
}
.zakladkaInner {
  position: absolute;
  top: calc(50% - 25px);
  left: 40px;
  width: 116px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.zakladka {
  position: absolute;
  top: 0px;
  left: calc(50% - 190.5px);
  border-left: 1px solid #2e2e2e;
  box-sizing: border-box;
  width: 380.5px;
  height: 140px;
  overflow: hidden;
  font-size: 40px;
  color: #50504f;
}
.zwinIcon {
  position: absolute;
  top: 42px;
  right: 40px;
  width: 58px;
  height: 58px;
  overflow: hidden;
}
.rightButtonIcon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 4px;
  transform: scale(2.034);
}
.wrapperRightButton {
  position: absolute;
  right: 40px;
  bottom: 45px;
  border-radius: 100px;
  width: 58px;
  height: 58px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slidesChild {
  position: absolute;
  top: 1px;
  left: -1px;
  border-top: 2px solid #ff4a00;
  box-sizing: border-box;
  width: 42px;
  height: 2px;
}
.slidesItem {
  position: absolute;
  top: 1.5px;
  left: 39.5px;
  border-top: 1px solid #3f3f3f;
  box-sizing: border-box;
  width: 31px;
  height: 1px;
}
.slidesInner {
  position: absolute;
  top: 1.5px;
  left: 69.5px;
  border-top: 1px solid #3f3f3f;
  box-sizing: border-box;
  width: 31px;
  height: 1px;
}
.slides {
  position: absolute;
  bottom: 74px;
  left: calc(50% - 50px);
  width: 100px;
  height: 2px;
  overflow: hidden;
}
.offer {
  width: 100%;
  position: relative;
  box-shadow: 0px 50px 100px 3px rgba(80, 80, 79, 0.1);
  backdrop-filter: blur(25px);
  background-color: rgba(255, 254, 251, 0.7);
  border-bottom: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  box-sizing: border-box;
  height: 626.5px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #3d3e40;
  font-family: Syne;
}
